# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!**/*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Node / Remix app
node_modules/
build/
.cache/
public/build/
.env
.env.*
!.env.example

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
